* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  background: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: skyblue 1px solid;
}

.item:nth-of-type(2) {
  background: #000;
  grid-column: 2 / 3;
}

.item:nth-of-type(5) {
  height: 100px;
  width: 100px;
  align-self: center;
}

.item:nth-of-type(9) {
  background: #933;
  grid-row: 2 / 4;
}

@media(max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}